{% extends 'base.html.twig' %}

{% block title %}Edit Shopping List{% endblock %}

{% block body %}
    {{ include('shopping_list/_back.html.twig') }}
    {{ include('shopping_list/_delete_form.html.twig') }}
    <h3 class="mt-2">Edit Shopping List</h3>

    {{ include('shopping_list/_form.html.twig', {'button_label': 'update'}) }}
{% endblock %}