
{% block ItemType_label %}{% endblock %}

{% block ItemType_widget %}

    <div class="row">
        <div class="col-1">
            {{ form_widget(form.isFound) }}
        </div>
        <div class="col-5">
            {{ form_widget(form.name) }}
        </div>
        <div class="col-1">
            <a href="#" class="collection-up btn btn-primary btn-sm" title="Move up"><i class="fas fa-arrow-up"></i></a>
        </div>
        <div class="col-1">
            <a href="#" class="collection-down btn btn-primary btn-sm" title="Move down"><i class="fas fa-arrow-down"></i></a>
        </div>
        <div class="col-1">
            <a href="#" class="collection-remove btn btn-primary btn-sm" title="Delete"><i class="fas fa-trash-alt"></i></a>
        </div>
        <div class="col-1">
            <a href="#" class="collection-add btn btn-primary btn-sm" title="Add"><i class="fas fa-plus"></i></a>
        </div>
    </div>

{% endblock %}