{% extends 'base.html.twig' %}

{% block title %}New Shopping List{% endblock %}

{% block body %}
    {{ include('shopping_list/_back.html.twig') }}
    <h3 class="mt-2">New Shopping List</h3>

    {{ include('shopping_list/_form.html.twig') }}
{% endblock %}
