{% extends 'base.html.twig' %}

{% block title %}New Shopping List{% endblock %}

{% block body %}
    <a href="{{ path('shopping_list_index') }}">back</a>
    <h1>Create new Shopping List</h1>

    {{ include('shopping_list/_form.html.twig') }}
{% endblock %}
